/* Xmodel.module.css */

.container {
    text-align: center;
    padding: 30px;
    margin: auto;
}

.title {
    color: green;
}

.openFormButton {
    width: 15vw;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.submit-button {
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
